.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
}

.cart h1 {
  color: whitesmoke;
  margin: 10px;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin: 15px 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #232629;
  border: 1px solid #747474;
  color: whitesmoke;
}

.cart-item img {
  border-radius: 5px;
  height: 120px;
}

.cart-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.cart-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
  color: whitesmoke;
}

.cart-empty img {
  -webkit-clip-path: inset(40px 0);
          clip-path: inset(40px 0);
  height: 260px;
  mix-blend-mode: multiply;
}

.price-quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  color: #14A76C;
}

.quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
}

.quantity-input {
  text-align: center;
  border: solid 1px #747474;
  border-radius: 3px;
  background-color: transparent;
  color: whitesmoke;
  margin: 0 0 0 5px;
  padding: 5px;
  height: 25px;
  width: 35px;
}

.quantity-container img {
  height: 15px;
  margin: 0 0 0 5px;
  -webkit-filter: invert(46%) sepia(57%) saturate(1972%) hue-rotate(341deg) brightness(102%) contrast(101%);
          filter: invert(46%) sepia(57%) saturate(1972%) hue-rotate(341deg) brightness(102%) contrast(101%);
}

.checkout {
  color: whitesmoke;
}

.checkout button {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #222629;
  border: 1px solid #747474;
  color: whitesmoke;
}

.bonus-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.bonus-item {
  margin: 20px 0;
  max-width: 240px;
  color: whitesmoke;
}

.bonus-item svg {
  height: 30px;
  width: 30px;
}

@media (min-width: 621px) {
  .cart-item {
    margin: 15px auto;
  }
}
/*# sourceMappingURL=Cart.css.map */