@import '../../sass/globals';


.product {
  @include displayFlex(column);
  min-height: 90vh;
  margin: 0 auto;
  padding: 30px;
}
  .product h2 {
    width: 75%;
    margin: 10px auto;
    color: color(white-text);
  }

.product img {
  max-height: 400px;
  max-width: 100%;
}

.product-purchase {
  @include displayFlex;
  margin: 20px 0;
}
  .product-purchase > button {
    border: solid 1px color(box-border);
    color: color(white-text);
    border-radius: 3px;
    background-color: transparent;
    padding: 5px 10px;
    margin-left: 100px;
    outline: none;
  }
  .product-purchase > button:active {
    outline: none;
    background-color: color(box-border);
  }

.product-price {
  color: color(acc-green);
  font-size: 30px;
}

.product-desc {
  margin: 0 auto;
  padding: 10px;
  max-width: 500px;
  color: color(white-text);
}

@media (min-width: 1024px) {
  .product {
    @include displayFlex(row, null, center);
    margin: 0 10vw;
    min-height: 90vh;
  }
    .product-purchase {
      @include displayFlex;
    }
}