* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  border: none;
  outline: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
}

.App {
  text-align: center;
}