@import '../../sass/globals';


.auth-header {
  @include displayFlex(column);
  height: 80px;
  background-color: color(header-bkg);
  color: color(white-text);
}

#auth-bkg-vid {
  position: absolute;
  height: 95vh;
  width: 100vw;
}

.auth-container {
  @include displayFlex(column);
  background-color: color(main-bkg);
  position: relative;
  min-height: 95vh;
  overflow: hidden;
}

.auth {
  @include displayFlex(column);
  position: absolute;
  top: 10vh;
  height: 450px;
  width: 300px;
  background-color: color(header-bkg);
  color: color(white-text);
  border-radius: 5px;
  border: 1px solid color(box-border);
  opacity: 90%;
  button {
    border: 1px solid color(box-border);
    border-radius: 3px;
    background-color: transparent;
    width: 100px;
    margin: 10px;
    padding: 10px 0;
    color: color(white-text);
  }
}
  .auth * {
    margin: 5px;
  }

  .auth-title {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    margin: 0;
    border-radius: 3px 3px 0 0;
    background-color: color(box-border);
    h2 {
      margin: 30px 0 0 0;
    }
  }

  .auth-inputs {
    margin: 60px 0 20px 0;
    input {
      padding: 5px;
      border: none;
      border-radius: 5px;
      height: 20px;
      width: 200px;
    }
  }
  